* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #242323;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 5 100px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
    background: repeating-linear-gradient(
    35deg,
    #dfdede,
    #cfcece 10px,
    #cfcece 10px,
    #dfdede 20px
    );
    transition: ease-in-out;
}

.login:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
    border-radius: 25px;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #929294;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 15px;
}
.login form input[type="submit"] {
    width: 65%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom left, #014c8a, #027de2);
    border: 1px solid #014c8a;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-image 0.2s;
    border-radius: 15px;
}
.login form input[type="submit"]:hover {
    background-image: linear-gradient(to bottom left, #0265b6, #028bfc);
    transition: background-image 0.2s;
}

.JumpRoomTitle {
    font-size: 60px;
    font-weight: 400;
    color: rgb(219, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    transition: font-weight 0.2s;
}

.JumpRoomTitle:hover {
    font-weight: 900;
      transition: font-weight 0.2s;
}

.WelcomeBackTitle {
    font-size: 30px;
    font-weight: 600;
    color: rgb(219, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.SignUpTitle {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(22, 119, 255);
    justify-content:center;
}

#topright {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 125px;
    width: 125px;
    background: url(TRbanner.gif) no-repeat;
    text-indent: -999em;
    text-decoration: none;
}